name: CI/CD for Geo Service (DockerHub)

on:
  push:
    branches: [ "master" ]
    paths:
      - "geo_service/**"
      - ".github/workflows/ci-cd-geo-dh.yml"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps for tests
        run: |
          python -m pip install --upgrade pip
          pip install pytest httpx
          pip install fastapi uvicorn[standard] sqlalchemy pydantic email-validator

      - name: Run tests
        run: pytest geo_service/tests -q

  build-and-push:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: ./geo_service
          file: ./geo_service/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/carsharing-geo:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/carsharing-geo:${{ github.sha }}
