name: CI/CD for Car Service (DockerHub)

on:
  push:
    paths:
      - "car_service/**"
      - ".github/workflows/ci-cd-car-dockerhub.yml"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        working-directory: ./car_service

      - name: Run tests
        run: pytest
        working-directory: ./car_service

  build-and-push:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: ./car_service
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/carsharing-car-service:latest
